/* css Document */
@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft.eot?#iefix') format('embedded-opentype'),  url('../fonts/Minecraft.woff') format('woff'), url('../fonts/Minecraft.ttf')  format('truetype'), url('../fonts/Minecraft.svg#Minecraft') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Minecraft';
	background: #000;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
}
.game{
	
	position: absolute;
	width: 100%;
	height:100%;
}

.pong-loader {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  height: 70px;
  width: 10px;
  background-color: transparent;
  animation: paddles 1.15s ease-out infinite;
  transform: translate3d(0, 0, 0);
}
.pong-loader:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: ballbounce 1s ease-out infinite;
}
.pong-loader:after {
  content: "Loading";
  position: absolute;
  color: #fff;
  margin-left: -47px;
  width: 100px;
  text-align: center;
  top: 100%;
  font-size: 22px;
	letter-spacing: 2px;
  animation: textflash 2s linear infinite;
}

@keyframes paddles {
  0% {
    box-shadow: -100px -25px 0px #fff, 100px 25px 0px #fff;
  }
  50% {
    box-shadow: -100px 25px 0px #fff, 100px -25px 0px #fff;
  }
  100% {
    box-shadow: -100px -25px 0px #fff, 100px 25px 0px #fff;
  }
}
@keyframes ballbounce {
  0% {
    transform: translateX(-100px) scale(1, 1.2);
  }
  25% {
    transform: scale(1.2, 1);
  }
  50% {
    transform: translateX(95px) scale(1, 1.2);
  }
  75% {
    transform: scale(1.2, 1);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes textflash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
